footer {
  background-color: var(--primary-clr-green);
  margin-top: 2em;
}

footer .img-container {
  width: 3em;
  aspect-ratio: 1/2;
  flex-shrink: 0;
}

footer .img-container img {
  object-fit: contain;
  filter: grayscale(100%) brightness(300%);
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 3em 1em;
}

.footer__card {
  display: flex;
  gap: 10em;
}

.footer__card__links {
}

.footer__card__links h3 {
  font-size: 1.2em;
  font-weight: 500;
  color: var(--primary-clr-yellow);
}

.footer__card__links p {
  color: #ffffff;
  font-size: 1em;
}

.footer__card__links a {
  color: #ffffff;
  font-size: 1em;
}
